<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>技术交流群</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css">
    <script src="http://ajax.microsoft.com/ajax/jquery/jquery-1.4.min.js"></script>
</head>
<body class="container" style="width: 70%">
<h4>技术交流群</h4>
<div class="form-group">
    <label for="content"></label>
    <textarea id="content" class="form-control" readonly="readonly" cols="80" rows="15"></textarea>
</div>
<div class="form-group">
    <label for="message">群发消息 &nbsp;</label>
    <input id="message" value="" class="form-control"/>
    <div style="margin-top: 10px">
        <button id="user_exit" class="btn btn-danger">离开</button>
        <button id="toSend" class="btn btn-info">发送消息</button>
        <input id="username" th:value="${username}" style="display: none"/>
    </div>
</div>
</body>

<script type="text/javascript">
    $(document).ready(function () {
        var ws;
        if ("WebSocket" in window){
            var baseUrl = 'ws://localhost:8080/helper/';
            var userName = $('#username').val();
            ws = new WebSocket(baseUrl + userName);

            // 连通之后的回调事件，建立链接
            ws.onopen = function () {
                console.log("建立 websocket 连接...");
            };

            // 接收后台服务端的消息
            ws.onmessage = function (event) {
                $('#content').append(event.data + '\n');
            };
            // 连接关闭的回调事件
            ws.onclose = function () {
                $('#content').append('[' + userName + '] 已离开!');
                console.log("关闭 websocket 连接...");
            };
        } else {
            // 浏览器不支持 WebSocket
            alert("您的浏览器不支持WebSocket!");
        }

        // 客户端发送消息到服务器
        $('#toSend').click(function () {
            sendMsg();
        });

        $(document).keyup(function(event){
            // 回车键事件
            if(event.keyCode==13){
                sendMsg();
            }
        });

        function sendMsg(){
            ws.send($('#message').val());
        }

        // 退出
        $('#user_exit').click(function () {
            if (ws) {
                ws.close();
            }
        });
    })
</script>

</html>